<!DOCTYPE html>
<html lang="<%= locale %>">
  <%- include('../partials/head.ejs', {title: 'Cavsar | Контакты'}) %>
  <body>
    <div class="wrapper">
      <%- include('../partials/header.ejs') %>
      <main>
        <%- include('../partials/intro.ejs', {current: "Контакты", image:
        "/client/media/contact-intro-bg.jpg", parent: null}) %>
        <section></section>
        <section></section>
      </main>
      <%- include('../partials/footer.ejs') %>
    </div>
    <%- include("../partials/scripts.ejs") %>
  </body>
</html>
